<div class="container dashboard-tags">
	<div class="row">
		<div class="col-lg-12 cols included" data-included="{{page.data.includedCols}}">
			<div class="panel panel-primary">
				<div class="panel-heading">{{page.tokens.included}}</div>
			  <div class="panel-body"></div>
			</div>
		</div>

		<div class="col-lg-12 cols excluded" data-excluded="{{page.data.excludedCols}}">
			<div class="panel panel-primary">
				<div class="panel-heading">{{page.tokens.excluded}}</div>
			  <div class="panel-body"></div>
			</div>
		</div>

		<div class="col-lg-3 moz-logo">
			<a href="http://moz.com">
				<img class="img-responsive" src="{{page.resources.mozLogo}}">
			</a>
		</div> 
	</div>
</div>